.trigger {
  position: relative;
  display: inline-block;
}

.content {
  pointer-events: auto;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  transform-origin: center;
  transition: opacity 0.2s ease-out, transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &[data-visible="true"] {
    opacity: 1;
    transform: none;
  }

  // 自动适应不同方位
  &:not([data-visible="true"]) {
    &.top {
      transform: translateY(10px);
    }
    &.bottom {
      transform: translateY(-10px);
    }
    &.left {
      transform: translateX(10px);
    }
    &.right {
      transform: translateX(-10px);
    }
  }
}
