.animatePopularBoxes {
  position: relative;
  width: 350px;
  height: 400px;
  perspective: 1000px;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.tooltipsContainer {
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  height: 360px;
  width: 240px;
  z-index: 100;
  pointer-events: none;
}
