.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.bannerSkeleton {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      circle at 30% 30%,
      rgba(51, 102, 255, 0.3),
      transparent 70%
    );
    pointer-events: none;
  }
}
