.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--background-secondary);

  &.loading {
    animation: pulse 1.5s infinite ease-in-out;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
