.bannerCarousel {
  margin-top: -58px; // 调整为 header 的实际高度
  position: relative;
  width: 100%;
}

.imageContainer {
  width: 100%;
  position: relative;
  min-height: 500px;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.fadeOverlay {
  pointer-events: none;
}

.bannerContent {
  position: relative;
  z-index: 1;
}
